/* 768px row upwards */
@media only screen and (min-width: 768px) {
  .box {
    width: 40%;
    float: left;
  }
}

/* 1200px row upwards */
@media only screen and (min-width: 1200px) {
  .box {
    width: 90%;
  }

  .col-box {
    width: 32%;
    float: left;
    padding-left: 2%;
  }

  .box-green,
  .box-blue {
    margin-top: 140px;
  }
}
